html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.largeModal {
  height: 80%;
  width: 80%;
  min-width: 40%;
}

.width10Per {
  width: 10%;
}

.width15Per {
  width: 15%;
}

.width20Per {
  width: 20%;
}

.width40Per {
  width: 40%;
}

.width60Per {
  width: 60%;
}

.width80Per {
  width: 80%;
}

.width100Px {
  width: 100px;
}

.padding {
  padding: 20px 20px 20px 20px;
}

.paddingMinor {
  padding: 5px 5px 5px 5px;
}

.verticalPaddingMinor {
  padding: 5px 0px 5px 0px;
}

.vAlignCenter {
    vertical-align: middle;
}

.nudgeUp {
    margin-top: -10px;
}

.nudgeUpMinor {
    margin-top: -5px;
}

.leftTextAlign {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.bigText {
    font-size: 36px;
}

.errorText {
    color: red;
}

.brandText {
    margin-bottom: 5px;
    font-weight: bold;
}

.maxHeight {
  height: 100%;
}

.maxWidth {
  width: 100%;
}

.rightContainer {
    margin-left: auto;
    margin-right: 0;
}

.inLineBlock {
    display: inline-block;
}

.clock {
    color: black;
    font-size: 32px;
    font-weight: bold;
    border: 5px solid black;
    text-align: center;
}

.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  background-color: #f8f9fa;
}

.link-button {
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.stackBox {
    vertical-align: top;
    min-width: 2%;
    min-height: 2%;
    padding: 10px 10px 10px 10px;
}

.thickBorder {
    border: 1px solid black;
}

.calendarRow {
    min-height: 12%;
}
